.c-team-1201, .c-team-1201 td, .c-team-1201 a {
    color: #AAC913;
}

a.c-team-1201 {
    background-color: #AAC913 !important;
}

.c-team-1202, .c-team-1202 td, .c-team-1202 a {
    color: #FFC300;
}

a.c-team-1202 {
    background-color: #FFC300 !important;
}

.c-team-1203, .c-team-1203 td, .c-team-1203 a {
    color: #ea627c;
}

a.c-team-1203 {
    background-color: #ea627c !important;
}

.c-team-1207, .c-team-1207 td, .c-team-1207 a {
    color: #a7b0ba;
}

a.c-team-1207 {
    background-color: #a7b0ba !important;
}