body {
    font-family: "Microsoft YaHei", "Helvetica", "Menlo";
    text-align: center;
}

a {
    color: rgb(41, 41, 41);
    text-transform: none;
    text-decoration: none;
    vertical-align: middle;
    font-weight: normal;
}

.source {
    text-align: right;
    font-size: 12px;
    margin-right: 12px;
}

#ztlogo {
    height: 150px;
}

.ypg {
    color: #808080;
    margin-left: auto;
    margin-right: auto;
    font-size: smaller;
}