<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icybiscuit.idol.dao.mapper.MsgDaysCountsMapper">
    <resultMap id="daysCount" type="com.icybiscuit.idol.entity.DO.MsgDaysCounts">
        <result column="team" property="team"/>
        <result column="days" property="date"/>
        <result column="counts" property="counts"/>
    </resultMap>

    <select id="getDaysCounts" resultMap="daysCount" parameterType="java.lang.String">
        SELECT
    info.member_team team,
    DATE_FORMAT(msg.msg_time, '%m/%e') days,
    date(msg.msg_time) msg_date,
    COUNT(1) counts
FROM
    ((SELECT
        m.room_id, m.msg_time
    FROM
        t_roommsg m
    WHERE
        m.message_type = 'text'
            AND DATE_FORMAT(m.msg_time, '%Y%m') = DATE_FORMAT(CURRENT_DATE(), '%Y%m')) UNION ALL (SELECT
        m.room_id, m.msg_time
    FROM
        t_roommsg m
    WHERE
        m.message_type = 'faipaiText'
            AND DATE_FORMAT(m.msg_time, '%Y%m') = DATE_FORMAT(CURRENT_DATE(), '%Y%m')) UNION ALL (SELECT
        m.room_id, m.msg_time
    FROM
        t_roommsg m
    WHERE
        m.message_type = 'audio'
            AND DATE_FORMAT(m.msg_time, '%Y%m') = DATE_FORMAT(CURRENT_DATE(), '%Y%m')) UNION ALL (SELECT
        m.room_id, m.msg_time
    FROM
        t_roommsg m
    WHERE
        m.message_type = 'idolFlip'
            AND DATE_FORMAT(m.msg_time, '%Y%m') = DATE_FORMAT(CURRENT_DATE(), '%Y%m')) UNION ALL (SELECT
        m.room_id, m.msg_time
    FROM
        t_roommsg m
    WHERE
        m.message_type = 'image'
            AND DATE_FORMAT(m.msg_time, '%Y%m') = DATE_FORMAT(CURRENT_DATE(), '%Y%m')) UNION ALL (SELECT
        m.room_id, m.msg_time
    FROM
        t_roommsg m
    WHERE
        m.message_type = 'videoRecord'
            AND DATE_FORMAT(m.msg_time, '%Y%m') = DATE_FORMAT(CURRENT_DATE(), '%Y%m'))) msg
        INNER JOIN
    t_memberinfo info ON info.room_id = msg.room_id
WHERE
    info.member_team = #{team}
GROUP BY team , msg_date,days
order by date(msg_date) asc
    </select>
</mapper>